{% extends "base.html" %}
{% load static %}


{% block content %}
    <!-- Page Header-->
    <div class="card-deck row justify-content-around">
        <div class="card col-11 col-md-8 row justify-content-around">
            <img src="https://i.ibb.co/k3s7QZH/theatre.jpg" alt="theatre" border="0">
            <div class="card-body">
                <h5 class="card-title">About City Theatre</h5>
                <p class="card-text">We are a smaller theatre in the city of Byingshire. Our plays 
                    are a nix if classic versions and modern takes. The goal of our productions is to 
                    provide high quality entertainment to all age groups.</p>
            </div>
        </div>
        <div class="card col-11 col-lg-8 row justify-content-around">
            <img src="https://i.ibb.co/jVQRdbp/job.jpg" alt="job" border="0">
            <div class="card-body">
                <h5 class="card-title">Work with us!</h5>
                <p class="card-text">If you want to work with us, you can email 
                    us an this adress: career@citytheatre.com</p>
                <p class="card-text">We need people both to serve our guests 
                    and to work in the production of our plays. Specific acting 
                    roles are advertised elsewhere, but feel free to send us 
                    an email us.</p>
            </div>
        </div>
    </div>

{% endblock %}