{% extends "base.html" %}
{% load static %}


{% block content %}
    <!-- Page Header-->
    <header class="masthead" src="{{MEDIA_URL}}christmas.jpg">
        <div class="container col-12 position-relative px-4 px-lg-5 mx-auto" id="hook-container">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1 id="hook">Enjoy a classic christmas story! <br> Now showing "A christmas carol".</h1>
                        <div class="d-flex justify-content-center mb-4"><a class="btn btn-success text-uppercase" href="#!">Get tickets!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container mx-auto">
        {% for plays in play %}
        <div class="card-deck row justify-content-around ">
            <div class="card col-11 col-md-5 col-sm-5 col-xs-5">
                <img class="card-img-top" src="{{MEDIA_URL}}christmas.jpg" alt="Christmas ornaments in tree">
                <div class="card-body">
                    <h5 class="card-title">A christmas carol</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><a class="text-muted text-uppercase" href="">Tickets</a></p>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class=" row justify-content-center col-12" id="director">
            <div class="col-4 col-md-2 d-flex d-flex-inline">
                <img class="col-12" id="director-img" src="{{MEDIA_URL}}head-editor.jpg" alt="head photo man">
            </div>
            <div class="text-center col-6 d-flex d-flex-inline">
                <figure>
                <blockquote class="blockquote mb-4">
                    <p>
                        <span class="font-italic">"Our plays are made with passion and love for the craft."</span>
                    </p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Thomas Gillan, Head Director
                </figcaption>
            </figure>
        </div>
    </div>

{% endblock %} 