{% extends "base.html" %}
{% load static %}


{% block content %}
    <!-- Main Content-->
    
    <div class="container" id="ticket-choice">
        <div class="card-deck row justify-content-around ">
            <div class="card col-10">
                <div class="card-title">
                    <h2>Booking information</h2>
                </div>
                <div class="card-body">
                    <p>{{ booking.name }}</p>
                </div>
                <div class="card-footer">
                    <a href=""><button class="btn btn-outline-dark">Home</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}