{% extends "base.html" %}
{% load static %}


{% block content %}
    <!-- Main Content-->
    
    <div class="container" id="ticket-choice">
        <div class="card-deck row justify-content-around ">
            <div class="card col-6" >
                <div class="card-body">
                    <h5 class="card-title">Buy tickets</h5>
                    <p class="card-text">Choose a date and click on a time to buy your tickets. The number of tickets can be chosen later.</p>
                </div>
            </div>
        </div>

        <div class="card-deck row justify-content-around">
            <div class="card col-6">
                <img class="card-img-top justify-content-around" src="{{MEDIA_URL}}christmas.jpg" alt="">
                <div class="card-body">
                    <form class="form" action="{% url 'booking_date' play.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row mb-2">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group col-10 col-md-7 col-lg-4">
                                    <div class="input-group input-group-{{ play.id }}">
                                        <input class="form-control qty_input id_qty_{{ play.id }}" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ play.id }}">
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 