h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, .nav-item {
    font-family: 'Mukta', sans-serif;
}

h1, .h1, .subheading, .navbar-brand {
    font-family: 'Pinyon Script', cursive;
}

.navbar-brand {
    font-size: 150%;
}

.btn {
    border-radius: 5%;
}