{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Content -->
    <div class="container" id="plays-choice">
        <div class="card-deck row justify-content-around">
            <div class="card col-11 col-lg-8 row justify-content-around">
                <div class="card-body">
                    <h5 class="card-title">My profile</h5>
                    <table class="table col-11">
                        <thead class="col-12">
                            <tr class="col-11">
                                <th>Play</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th class="d-none d-md-block">Name</th>
                                <th class="d-none d-md-block">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in bookings %}
                            <tr>
                                <td>{{ booking.play }}</td>
                                <td>{{ booking.date }}</td>
                                <td>{{ booking.amount }}</td>
                                <td class="d-none d-md-block">{{ booking.name }}</td>
                                <td class="d-none d-md-block">{{ booking.email }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 